<h2>Regístrate</h2>

<div class="container-social-register">
  <!-- <div class="d-flex justify-content-center align-items-center">
    <img src="../../../../assets/icons/facebook.png" alt="facebook" />
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <img src="../../../../assets/icons/apple.png" alt="apple" />
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <img src="../../../../assets/icons/google.png" alt="google" />
  </div> -->
  <app-social-register></app-social-register>
  <app-social-register></app-social-register>
  <app-social-register></app-social-register>
</div>

<span>o</span>

<div class="d-flex flex-wrap justify-content-around">

  <div class="my-1">
    <p>Nombre</p>
    <app-input placeholder="Ingresa tu(s) nombre(s)"></app-input>
  </div>

  <div class="my-1">
    <p>Apellido(s)</p>
    <app-input placeholder="Ingresa tu(s) apellido(s)"></app-input>
  </div>

  <div class="my-1">
    <p>Sexo</p>
    <app-input placeholder="ESTE TIENE QUE SER UN SELECT"></app-input>
  </div>

  <div class="my-1">
    <p>DNI</p>
    <app-input placeholder="Ingresa su número de DNI"></app-input>
  </div>

  <div class="my-1">
    <p>Email</p>
    <app-input placeholder="Ingresa tu dirección de email"></app-input>
  </div>

  <div class="my-1">
    <p>Teléfono</p>
    <app-input placeholder="Ingrese su teléfono"></app-input>
  </div>

  <div class="my-1">
    <p>País</p>
    <app-input placeholder="SELECT"></app-input>
  </div>

  <div class="my-1">
    <p>Ciudad</p>
    <app-input placeholder="Ingresa tu ciudad"></app-input>
  </div>
</div>

<app-button text="Regístrate" theme="min"></app-button>
<span>¿Ya tienes una cuenta?<a href="">Inicia tu sesión</a></span>
