<h2>Ingresa a tu cuenta</h2>
<div class="d-flex gap-2">
  <div class="d-flex justify-content-center align-items-center">
    <img src="../../../../assets/icons/facebook.png" alt="facebook" />
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <img src="../../../../assets/icons/apple.png" alt="apple" />
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <img src="../../../../assets/icons/google.png" alt="google" />
  </div>
</div>
<span>o</span>

<div class="w-50">
  <p>email</p>
  <input type="text" placeholder="Ingresé su email" class="w-100 text-white"/>
</div>

<div class="w-50">
  <p>contraseña</p>
  <input type="password" placeholder="Ingresé su contraseña" class="w-100 text-white"/>
</div>

<a href="" style="display: block">¿Olvidaste tu contraseña?</a>

<button class="bg-primary w-50">INICIAR SESIÓN</button>
<span>¿No tienes cuenta aún?<a href="">Registrate</a></span>
