<div>
  <h2>Cambia tu contraseña</h2>
  <div class="w-100">
    <div class="my-4">
      <p>Contraseña actual</p>
      <app-input placeholder="Ingresa tu contraseña"></app-input>
    </div>

    <div class="my-4">
      <p>Nueva contraseña</p>
      <app-input placeholder="Ingresa tu nueva contraseña"></app-input>
    </div>

    <div class="my-4">
      <p>Confirma tu contraseña</p>
      <app-input placeholder="Confirma tu contraseña"></app-input>
    </div>
  </div>

  <app-button text="Empíeza" custom="min"></app-button>

  <div>
    <div>
      <img
        src="../../../../assets/icons/check-sin-fondo.png"
        alt="check-sin-fondo"
      />
      <span>Entre 5 a 20 caracteres</span>
    </div>
    <div>
      <img
        src="../../../../assets/icons/check-sin-fondo.png"
        alt="check-sin-fondo"
      />
      <span>Al menos una mayúscula</span>
    </div>
    <div>
      <img
        src="../../../../assets/icons/check-sin-fondo.png"
        alt="check-sin-fondo"
      />
      <span>Al menos una minúscula</span>
    </div>
    <div>
      <img
        src="../../../../assets/icons/check-sin-fondo.png"
        alt="check-sin-fondo"
      />
      <span>Al menos una número</span>
    </div>
  </div>
  <!-- <span>¿Ya tienes una cuenta?<a href="">Inicia tu sesión</a></span> -->
</div>
