<form>
  <h2>{{ pageContent.title }}</h2>
  <div class="container-form-field-input">

    <app-form-field-input
      class="form-field-input"
      [label]="field.label"
      [placeholder]="field.placeholder"
      *ngFor="let field of pageContent.fields"
    ></app-form-field-input>

  </div>

  <div class="container-requirements">

    <app-requirements
      class="requirements"
      [text]="requirement"
      *ngFor="let requirement of pageContent.requirements"
    ></app-requirements>

  </div>

  <app-button class="button" [text]="pageContent.button.text" [custom]="pageContent.button.custom"></app-button>
</form>
