<h2>{{ pageContent.title }}</h2>

<app-challenge-cart
  [pageContent]="challenge"
  *ngFor="let challenge of pageContent.buyChallenge"
></app-challenge-cart>

<div>
  <img
    [src]="pageContent.default.img.src"
    [alt]="pageContent.default.img.alt"
  />
  <strong>{{ pageContent.default.title }}</strong>
  <p>{{ pageContent.default.paragraph }}</p>

  <div>
    <app-requirements
      [label]="requirement"
      *ngFor="let requirement of pageContent.default.requirements"
    ></app-requirements>
  </div>

  <app-button
    [text]="pageContent.default.button.text"
    [theme]="pageContent.default.button.custom"
  ></app-button>
</div>
