<h2>Tus desafíos</h2>
<app-challenge-cart></app-challenge-cart>
<div>
  <img src="../../../assets/icons/rocket.png" alt="icon-rocket" />
  <strong>Compra tu primer desafío</strong>
  <p>Desata tu potencial de trading y consigue la IMPULSE Account</p>
  <div>
    <figure>
      <img src="../../../assets/icons/check.png" alt="image-success" />
      <span>Facilitaremos una IMPULSE Account hasta $300,000</span>
    </figure>
    <figure>
      <img src="../../../assets/icons/check.png" alt="image-success" />
      <span>Demuestre sus habilidades de trading</span>
    </figure>
    <figure>
      <img src="../../../assets/icons/check.png" alt="image-success" />
      <span>Análisis completo de su Cuenta</span>
    </figure>
    <figure>
      <img src="../../../assets/icons/check.png" alt="image-success" />
      <span>Recompensa por su consistencia</span>
    </figure>
  </div>
  <app-button text="COMPRAR" custom="page"></app-button>
</div>
