<div class="change-method-payment">
  <img
    [src]="constantsOS.changeMethod.src"
    [alt]="constantsOS.changeMethod.alt"
  />
  <b>
    <a href="">{{ constantsOS.changeMethod.anchor }}</a>
  </b>
</div>

<h2>{{ constantsOS.title }}</h2>

<div class="box">
  <div>
    <label>{{ constantsOS.box.label }}</label>
    <img [src]="constantsOS.box.src" [alt]="constantsOS.box.alt" />
  </div>

  <app-data-table
    [description]="info.description"
    [result]="info.result"
    *ngFor="let info of infoTable"
  ></app-data-table>

  <div class="total">
    <b>{{ constantsOS.box.total.description }}</b>
    <b>{{ constantsOS.box.total.amount }}</b>
  </div>
</div>

<img [src]="constantsOS.QR.src" [alt]="constantsOS.QR.alt" />

<div class="container-input-code-promotion">
  <app-input [custom]="constantsOS.codePromotion.input.custom"></app-input>
  <app-button>
    <img
      [src]="constantsOS.codePromotion.button.src"
      [alt]="constantsOS.codePromotion.button.alt"
    />
  </app-button>
</div>

<div  *ngIf="warning" class="warning">
  <div>
    <img [src]="constantsOS.warning.src" [alt]="constantsOS.warning.alt" /><b>{{
      constantsOS.warning.subtitle
    }}</b>
  </div>
  <p>
    {{ constantsOS.warning.paragraph }}
  </p>
  <span (click)="closeWarning()">X</span>
</div>

<div class="time-restart">
  <label>{{ constantsOS.timeRestart.label }}</label>
  <b>
    <app-countdown [targetDate]="targetDate"></app-countdown>
  </b>
  <app-button
    [text]="constantsOS.timeRestart.button.text"
    [custom]="constantsOS.timeRestart.button.custom"
  >
    <img
      [src]="constantsOS.timeRestart.button.img.src"
      [alt]="constantsOS.timeRestart.button.img.alt"
    />
  </app-button>
</div>

<p>
  {{ constantsOS.paragraph[0] }}<br />{{ constantsOS.paragraph[1] }}<br />{{
    constantsOS.paragraph[2]
  }}
</p>

<app-button
  [text]="constantsOS.button.text"
  [custom]="constantsOS.button.custom"
></app-button>
