@mixin dflex( $direccion, $wrap, $justify, $align ) {
  display: flex;
  flex-flow: $direccion $wrap;
  justify-content: $justify;
  align-items: $align;
};

@mixin dgrid( $column, $min, $max, $rowHeight ){
  display: grid;
  grid-template-columns: repeat( $column, minmax($min, $max) );
  grid-auto-rows: $rowHeight;
};

@mixin MYP( $margin, $padding ) {
  margin: $margin;
  padding: $padding
};

@mixin XL() {
  @media screen and (max-width: 1024px) {
    @content
  }
};

@mixin MD() {
  @media screen and (max-width: 768px) {
    @content
  }
};

@mixin SM() {
  @media screen and (max-width: 480px) {
    @content
  }
};

@mixin XS() {
  @media screen and (max-width: 325px) {
    @content
  }
};

@mixin RESPONSIVE($media){
  @media screen and (max-width: $media) {
    @content
  }
};


// mixin exclusivo para el proyecto

@mixin backgroundDefault() {
  border-radius: 16px;
  background: linear-gradient(
    127deg,
    rgba(6, 11, 38, 0.74) 28.26%,
    rgba(6, 43, 99, 0.5) 91.2%
  );
  backdrop-filter: blur(25px);
}
