<div class="d-flex justify-content-between flex-wrap ">
  <div>
    <p>Nº de cuenta:
      <span>#09876452876</span>
    </p>

    <span>Fase 1</span>
    <figure>
      <img src="../../../../assets/icons/check.png" alt="icon-check">
      <span>Activo</span>
    </figure>
  </div>

  <div class="d-flex justify-content-center align-items-center gap-4 ">
    <figure>
      <img src="../../../../assets/icons/escudo.png" alt="icon-escudo">
      <a routerLink="">Ver Credenciales</a>
    </figure>
    <app-button text="VER MAS EN ANALYZER" theme="pageAnalyzer"></app-button>
  </div>

  <img src="../../../../assets/images/line.svg" alt="Line">

  <div>
    <p>Equity:<span>$101.003<span>+1.03%</span></span></p>
    <div>
      <p>Resumen de las reglas generales:</p>

      <div>
        <span>Objetivo del 8%</span>
        <span>0.67%</span>
        <div>------</div>
      </div>

      <div>
        <span>5% de perdida máxima</span>
        <span>1.36%</span>
        <div>------</div>
      </div>

      <div>
        <span>Objetivo del 8%</span>
        <span>0.67%</span>
        <div>------</div>
      </div>
    </div>
  </div>

</div>
